<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Chat</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<h1 >Create new chat...</h1>
<form method="POST" action="/chats">
    <input type="text" name="from" placeholder="sender..."><br><br>
    <input type="text" name="msg" placeholder="write your message..."><br><br>
    <input type="text" name="to" placeholder="Receiver..."><br><br>
    <input type="submit" value="Create" class="button">

</form>
</body>
</html>